$color__primary: #00b38f;
$color__secondary: #598080;
$color__grey--light: #ced4da;
$color__grey--middle: #666;
$color__white: #fff;

$color__text: $color__grey--middle;

//Breakpoints
$sm: 567px;
$md: 768px;
$lg: 992px;
$xl: 1200px;