.header {
    background: $color__white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color__primary;
    color: $color__white;

    &__logo {
        width: 45px;
        margin-left: 0.5rem;
    }
    
    &__heading {
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
    }

    @media (min-width: $lg) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        &__heading {
            font-size: 2rem;
        }

        &__logo {
            width: 55px;
        }
    }
}