.footer {
    margin: 0;

    &__text {
        padding: 2rem;
        margin: 0;
        background: $color__secondary;
        color: $color__white;
    }

    @media (min-width: $lg) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}