.column {
    width: 33.3%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &__image--wrapper {
        background: $color__primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 50px;
        height: auto;
        padding: 0.75rem;
    }
    
    &__text--heading {
        margin: 1rem 0 0.125rem;
        color: $color__grey--middle;
    } 

    &__text--number {
        margin: 0;
        font-size: 2.5rem;
        font-weight: 200;
        color: $color__primary;
    }

    @media (max-width: $lg) {
        width: 100%;

        &__text--number {
            margin-bottom: 2rem;
        }
    }
}