@import './GlobalStylings/index.scss';
@import './Components/DataColumn/DataColumn.scss';
@import './Components/Header/Header.scss';
@import './Components/Footer/Footer.scss';

.app {
  @media(min-width: $lg) {
    height: 100vh;
    background-image: url('./Img/corona-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container {
  text-align: center;
  background: $color__white;
  padding: 3rem;
  
  
  &__heading {
    margin: 2rem 0;
    font-size: 2rem;
    color: $color__primary;
  }

  &__text--introduction {
    margin: 0 0 1.5rem 0;
    font-size: 1.25rem;
    text-align: left;
  }

  &__hr {
    color: $color__grey--light;
  }
  
  @media(min-width: $lg) {
    width: $md;
    margin: 3rem;
    border-radius: 3rem;
    box-shadow: 0.25rem 0.5rem rgba($color: $color__grey--light, $alpha: 0.5);
  }

}


.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  
  &__label {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  
  &__selection {
    display: inline-block;
    color: $color__text;
    width: 100%;
    height: 2.75rem;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    font-size: 1rem;
    background: $color__white;
    border: 2px solid $color__grey--light;
    border-radius: .25rem;
    background: #fff url('./Img/arrow.png') no-repeat right .75rem center;
    background-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 1rem;

    &:focus {
      outline-color: $color__secondary;
    }
  }
}

